#box1
{       
  background-color: #2BB463;
  height: 100px;
  width: 100%;
}

#h1
{
  padding-left: 30px;
  padding-top: 30px;
  font-family: Comic sans ms;
}

#h2
{
  padding-left: 10px;
  padding-top: 10px;
  font-family: Comic sans ms;
}

#submit
{
  background-color: #2BB463;
  border-radius: 5px;
}

#item_show
{
  list-style-type: none;
  font-family: monotype corsiva;
}

.style_li
{
  border: 1px solid black;
  padding: 13px;
}

.edit
{
  background-color: #90EE90;
  height: 25px;
  position: absolute;
  right: 130px;
  border-radius: 5px;
}

.del
{
  background-color:  #ffcccb;
  height: 25px;
  position: absolute;
  right: 70px;
  border-radius: 5px;
}
